.bottom-nav {
  /* 바텀 네비게이션 바 기본 크기 */
  height: 60px;

  /* 포지션을 하단 가운데로 조정 */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  /* 바텀 네비게이션의 크기를 조절하고, border radius 설정 */
  width: 100%;
  max-width: 480px;
  padding-bottom: 0.25rem;
  background-color: #fefefe;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  border-top: 1px solid #d8d8d8;

  /* 내부 컴포넌트들의 위치를 조정 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem; /* vertical, horizontal */
}

.bottom-nav > a {
  /* column 방향으로 가운데 정렬합니다. */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* 아이콘과 텍스트의 간격을 조금 띄웁니다. */
  gap: 0.25rem;

  /* 기본 스타일을 설정합니다. */
  color: #d2d2d2;
  cursor: pointer;
  font-size: 12px;
}

/* 마우스를 올렸을 때 색깔을 진하게 설정합니다. */
.bottom-nav > :hover {
  color: #787878;
}

/* 해당 페이지일 때 버튼을 진하게 표현합니다. */
.bottom-nav > .active {
  color: #222;
}
